* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;

}

.head {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}

h1{
    text-align: center;
}

.titulo {
  margin: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 75px;
  position:relative;
  bottom: 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label, input {
  margin-bottom: 10px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 10px;
    border-top-right-radius: 5px solid #ccc; ;
    border-bottom: 5px solid #ccc;
    margin-bottom: 2px;
    width: 200%;
}

button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #0a0a08;
    color: #fff;
    margin-right: 10px;
    border-radius: 20px;
  
}

#content div button{
    border-radius: 20px;
    margin-right: 10px;
}

#content div button:hover{
    background-color: var(--color-secondary);
    cursor: pointer;
    color: rgb(57, 70, 67);
    scale: 1.05;
}


button:hover{
    background-color: var(--color-secondary);
    cursor: pointer;
    color: rgb(74, 216, 192);
    scale: 1.1;
}

#add {
    background-color: #1c8b2f;
    border-radius: 20px;
    margin-bottom: 5px;
    
    
}

#add:hover{
    cursor: pointer;
    scale: 1.1;
    background-color: #0b581c;
}

#delete-all {
    background-color: #ff4500;
    border-radius: 20px;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

/* Media queries */
@media screen and (max-width: 992px) {
    h1 {
      font-size: 24px;
    }
  
    input {
      width: 80%;
    }
  
    button {
      margin-top: 10px;
    }

    #content{
        display: flex;
        flex-direction: column;
        
        
    }
  }
  
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 20px;
    }
  
    input {
      width: 90%;
    }
  
    button {
      margin-top: 10px;
      padding: 5px;
    }
  }