* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    background-color: #f0f0f0;
}

.head {
    background-color: #f0f0f0;
    padding: 20px;

}

.titulo {
    margin: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    
}

label {
    width: 50%;
}

input[type="text"] {
    padding: 20px;
    /* border: none; */
    border-radius: 20px;
    border-top-right-radius: 5px solid #ccc; ;
    border-bottom: 5px solid #ccc;
    margin-bottom: 50px;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #0f0f0b;
    color: #fff;
    /* border: none; */
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}

button:hover{
    background-color: var(--color-secondary);
    cursor: pointer;
    color: rgb(120, 115, 185);
    scale: 1.1;
}

#add {
    background-color: #1c8b2f;
    border-radius: 20px;
    
    
}

#add:hover{
    cursor: pointer;
    scale: 1.1;
    background-color: #0b581c;
}

#delete-all {
    background-color: #ff4500;
    border-radius: 20px;
}

#content {
    margin: 20px 0;
}